diffusional_dynamics/raw_example/*
misc_review/CAtagSrc_vs_Binder_analysis/20210320_vary_nMinTrk/nMinTrack_04/20201215analyzed_cluster_props_maxRI4-00s_minTrk04_maxClusSize-0-60um_SPTacqTime60.mat
misc_review/vary_nMinTrk/nMinTrack_05/20180628_noAd_0109_100pganalyzed_cluster_props_maxRI4-00s_minTrk05_maxClusSize-0-60um_SPTacqTime60.mat
misc_review/CAtagSrc_vs_Binder_analysis/20210320_vary_nMinTrk/nMinTrack_result_04/annotated_propdists_wRecToClus_minTrk04.mat
misc_review/vary_nMinTrk/nMinTrack_08/20180524_0328-0405_noAd_100pg_analyzed_cluster_props_maxRI4-00s_minTrk08_maxClusSize-0-60um_SPTacqTime60.mat
misc_review/vary_nMinTrk/nMinTrack_result_20/annotated_propdists_wRecToClus_minTrk20.mat
misc_review/vary_nMinTrk/nMinTrack_result_19/annotated_propdists_wRecToClus_minTrk19.mat
misc_review/vary_nMinTrk/nMinTrack_04/20180628_noAd_0109_100pganalyzed_cluster_props_maxRI4-00s_minTrk04_maxClusSize-0-60um_SPTacqTime60.mat
misc_review/CAtagSrc_vs_Binder_analysis/20210320_vary_nMinTrk/nMinTrack_03/20201215analyzed_cluster_props_maxRI4-00s_minTrk03_maxClusSize-0-60um_SPTacqTime60.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/sourcedata/trackdata/20201113/Exp20ms-C1_6/RightCali_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/results/inputdata/Exp20ms-C1_6/RightCali_lvPALM.mat
misc_review/vary_nMinTrk/nMinTrack_result_18/annotated_propdists_wRecToClus_minTrk18.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/results/inputdata/Exp20ms-C1_13/RightCali_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/sourcedata/trackdata/20201113/Exp20ms-C1_13/RightCali_lvPALM.mat
misc_review/vary_nMinTrk/nMinTrack_07/20180524_0328-0405_noAd_100pg_analyzed_cluster_props_maxRI4-00s_minTrk07_maxClusSize-0-60um_SPTacqTime60.mat
misc_review/vary_nMinTrk/nMinTrack_result_17/annotated_propdists_wRecToClus_minTrk17.mat
misc_review/diffuse_in_analysis/resultfiles/20180628_noAd_0128_100pgmeasured_cluster_props.mat
misc_review/vary_nMinTrk/nMinTrack_result_16/annotated_propdists_wRecToClus_minTrk16.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/results/inputdata/Exp20ms-C1_12/RightCali_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/sourcedata/trackdata/20201113/Exp20ms-C1_12/RightCali_lvPALM.mat
misc_review/vary_nMinTrk/nMinTrack_06/20180524_0328-0405_noAd_100pg_analyzed_cluster_props_maxRI4-00s_minTrk06_maxClusSize-0-60um_SPTacqTime60.mat
misc_review/vary_nMinTrk/nMinTrack_result_15/annotated_propdists_wRecToClus_minTrk15.mat
misc_review/vary_nMinTrk/nMinTrack_03/20180628_noAd_0109_100pganalyzed_cluster_props_maxRI4-00s_minTrk03_maxClusSize-0-60um_SPTacqTime60.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/results/inputdata/Exp20ms-C1_9/RightCali_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/sourcedata/trackdata/20201113/Exp20ms-C1_9/RightCali_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/sourcedata/trackdata/20201113/Exp20ms-C1_4/RightCali_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/results/inputdata/Exp20ms-C1_4/RightCali_lvPALM.mat
misc_review/vary_nMinTrk/nMinTrack_result_14/annotated_propdists_wRecToClus_minTrk14.mat
misc_review/vary_nMinTrk/nMinTrack_05/20180524_0328-0405_noAd_100pg_analyzed_cluster_props_maxRI4-00s_minTrk05_maxClusSize-0-60um_SPTacqTime60.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/results/inputdata/Exp20ms-C1_5/Left_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/sourcedata/trackdata/20201113/Exp20ms-C1_5/Left_lvPALM.mat
misc_review/vary_nMinTrk/nMinTrack_result_13/annotated_propdists_wRecToClus_minTrk13.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/sourcedata/trackdata/20201113/Exp20ms-C1_15/Left_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/results/inputdata/Exp20ms-C1_15/Left_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/results/inputdata/Exp20ms-C1_2/Left_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/sourcedata/trackdata/20201113/Exp20ms-C1_2/Left_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/results/inputdata/Exp20ms-C1_12/Left_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/sourcedata/trackdata/20201113/Exp20ms-C1_12/Left_lvPALM.mat
misc_review/vary_nMinTrk/nMinTrack_result_12/annotated_propdists_wRecToClus_minTrk12.mat
misc_review/vary_nMinTrk/nMinTrack_04/20180524_0328-0405_noAd_100pg_analyzed_cluster_props_maxRI4-00s_minTrk04_maxClusSize-0-60um_SPTacqTime60.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/sourcedata/trackdata/20201113/Exp20ms-C1_14/RightCali_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/results/inputdata/Exp20ms-C1_14/RightCali_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/sourcedata/trackdata/20201113/Exp20ms-C1_10/Left_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/results/inputdata/Exp20ms-C1_10/Left_lvPALM.mat
misc_review/vary_nMinTrk/nMinTrack_result_11/annotated_propdists_wRecToClus_minTrk11.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/results/inputdata/Exp20ms-C1_14/Left_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/sourcedata/trackdata/20201113/Exp20ms-C1_14/Left_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/results/20201215tagsim_den_distr_50x.mat
misc_review/vary_nMinTrk/nMinTrack_result_10/annotated_propdists_wRecToClus_minTrk10.mat
misc_review/estimate
misc_review/vary_nMinTrk/nMinTrack_03/20180524_0328-0405_noAd_100pg_analyzed_cluster_props_maxRI4-00s_minTrk03_maxClusSize-0-60um_SPTacqTime60.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/sourcedata/trackdata/20201113/Exp20ms-C1_11/RightCali_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/results/inputdata/Exp20ms-C1_11/RightCali_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/results/inputdata/Exp20ms-C1_8/Left_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/sourcedata/trackdata/20201113/Exp20ms-C1_8/Left_lvPALM.mat
misc_review/vary_nMinTrk/nMinTrack_result_09/annotated_propdists_wRecToClus_minTrk09.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/sourcedata/trackdata/20201113/Exp20ms-C1_3/RightCali_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/results/inputdata/Exp20ms-C1_3/RightCali_lvPALM.mat
misc_review/diffuse_in_analysis/resultfiles/20180628_noAd_0617_100pgmeasured_cluster_props.mat
misc_review/vary_nMinTrk/nMinTrack_result_08/annotated_propdists_wRecToClus_minTrk08.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/sourcedata/trackdata/20201113/Exp20ms-C1_4/Left_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/results/inputdata/Exp20ms-C1_4/Left_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/sourcedata/trackdata/20201113/Exp20ms-C1_1/Left_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/results/inputdata/Exp20ms-C1_1/Left_lvPALM.mat
misc_review/vary_nMinTrk/nMinTrack_result_07/annotated_propdists_wRecToClus_minTrk07.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/results/20201215measured_cluster_props.mat
misc_review/vary_nMinTrk/nMinTrack_result_06/annotated_propdists_wRecToClus_minTrk06.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/results/inputdata/Exp20ms-C1_7/RightCali_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/sourcedata/trackdata/20201113/Exp20ms-C1_7/RightCali_lvPALM.mat
misc_review/vary_nMinTrk/nMinTrack_result_05/annotated_propdists_wRecToClus_minTrk05.mat
misc_review/diffuse_in_analysis/annotated_propdists_wRecToClus_minTrk10.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/results/inputdata/Exp20ms-C1_8/RightCali_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/sourcedata/trackdata/20201113/Exp20ms-C1_8/RightCali_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/sourcedata/trackdata/20201113/Exp20ms-C1_2/RightCali_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/results/inputdata/Exp20ms-C1_2/RightCali_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/sourcedata/trackdata/20201113/Exp20ms-C1_15/RightCali_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/results/inputdata/Exp20ms-C1_15/RightCali_lvPALM.mat
misc_review/vary_nMinTrk/nMinTrack_result_04/annotated_propdists_wRecToClus_minTrk04.mat
cluster_analysis/cluster_postprocessing/codiff_in_clusters/count_simulated_codiff_in_clus_negctrl.mat
cluster_analysis/cluster_postprocessing/codiff_in_clusters/counted_codiff_in_clusters.mat
misc_review/vary_nMinTrk/nMinTrack_result_03/annotated_propdists_wRecToClus_minTrk03.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/sourcedata/trackdata/20201113/Exp20ms-C1_5/RightCali_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/results/inputdata/Exp20ms-C1_5/RightCali_lvPALM.mat
misc_review/diffuse_in_analysis/resultfiles/20180628_noAd_0109_100pgmeasured_cluster_props.mat
misc_review/diffuse_in_analysis/resultfiles/20180524_0328-0405_noAd_100pg_measured_cluster_props.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/results/inputdata/Exp20ms-C1_1/RightCali_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/sourcedata/trackdata/20201113/Exp20ms-C1_1/RightCali_lvPALM.mat
cluster_analysis/cluster_postprocessing/codiff_in_clusters/counted_codiff_in_clusters.mat
cluster_analysis/cluster_postprocessing/codiff_in_clusters/count_simulated_codiff_in_clus_negctrl.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/sourcedata/trackdata/20201113/Exp20ms-C1_15/RightCali_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/sourcedata/trackdata/20201113/Exp20ms-C1_5/RightCali_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/sourcedata/trackdata/20201113/Exp20ms-C1_2/RightCali_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/sourcedata/trackdata/20201113/Exp20ms-C1_3/RightCali_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/sourcedata/trackdata/20201113/Exp20ms-C1_4/Left_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/sourcedata/trackdata/20201113/Exp20ms-C1_1/Left_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/sourcedata/trackdata/20201113/Exp20ms-C1_1/RightCali_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/sourcedata/trackdata/20201113/Exp20ms-C1_8/RightCali_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/sourcedata/trackdata/20201113/Exp20ms-C1_7/RightCali_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/results/inputdata/Exp20ms-C1_15/RightCali_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/results/inputdata/Exp20ms-C1_5/RightCali_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/results/inputdata/Exp20ms-C1_2/RightCali_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/results/inputdata/Exp20ms-C1_3/RightCali_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/results/inputdata/Exp20ms-C1_4/Left_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/results/inputdata/Exp20ms-C1_1/Left_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/results/inputdata/Exp20ms-C1_1/RightCali_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/results/inputdata/Exp20ms-C1_8/RightCali_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/results/inputdata/Exp20ms-C1_7/RightCali_lvPALM.mat
misc_review/CAtagSrc_vs_Binder_analysis/20201212/results/20201215measured_cluster_props.mat
misc_review/diffuse_in_analysis/resultfiles/20180628_noAd_0109_100pgmeasured_cluster_props.mat
misc_review/diffuse_in_analysis/resultfiles/20180524_0328-0405_noAd_100pg_measured_cluster_props.mat
misc_review/diffuse_in_analysis/resultfiles/20180628_noAd_0617_100pgmeasured_cluster_props.mat
misc_review/diffuse_in_analysis/annotated_propdists_wRecToClus_minTrk10.mat
misc_review/vary_nMinTrk/nMinTrack_result_06/annotated_propdists_wRecToClus_minTrk06.mat
misc_review/vary_nMinTrk/nMinTrack_result_08/annotated_propdists_wRecToClus_minTrk08.mat
misc_review/vary_nMinTrk/nMinTrack_result_09/annotated_propdists_wRecToClus_minTrk09.mat
misc_review/vary_nMinTrk/nMinTrack_result_07/annotated_propdists_wRecToClus_minTrk07.mat
misc_review/vary_nMinTrk/nMinTrack_result_05/annotated_propdists_wRecToClus_minTrk05.mat
misc_review/vary_nMinTrk/nMinTrack_result_03/annotated_propdists_wRecToClus_minTrk03.mat
misc_review/vary_nMinTrk/nMinTrack_result_04/annotated_propdists_wRecToClus_minTrk04.mat
